header{
    background-color: rgb(86, 86, 158);
    height: auto;
    text-align: center;
}
h6{
    font-size: small;
}
.days{
    /* display: flex;
    flex-direction: column; */
    background-color: rgb(50, 50, 92);
}
button{
    width: 90%;
    background-color: gray;
    /* justify-content:flex-end; */
    text-align: center;
    

}
img{
    width: 40px;
    height: 40px;
}